.container {
  width: 100%;
  max-width: none; /* Allow container to take all available space */
  padding: 0; /* Remove padding for mobile */
  margin: 0 auto;
  background-color: gray; /* Set background color to gray */

  @media (max-width: 720px) {
    padding: 0; /* Ensure padding is removed for mobile */
  }

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
